<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style/css/global.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('style/js/utils.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header class="main-header">
                <div class="header-left">
                    <a href="{{ path('app_dashboard') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="Reconnect Groupe SOS" class="logo">
                    </a>
                </div>
                {% if app.user %}
                    <div class="header-right">
                        <span class="user-name">Connecté en tant que <strong>{{ app.user.userIdentifier }}</strong></span>
                        <a href="{{ path('app_logout') }}" class="logout-btn">Déconnexion</a>
                    </div>
                {% endif %}
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
