{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/searchbar.css') }}">
    <link rel="stylesheet" href="{{ asset('style/css/beneficiary.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <div class="beneficiaries-section">
        <h1 class="beneficiary-section-title">Bienvenue dans le gestionnaire de bénéficiaires Reconnect</h1>

        <div class="beneficiaries-block">
            <h3>Personnes stockées</h3>

            <div class="beneficiary-search-block">
                <div>
                    <label class="search-bar">
                        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10,2A8,8 0 1,0 18,10A8,8 0 0,0 10,2M10,4A6,6 0 1,1 4,10A6,6 0 0,1 10,4M22,22L16.65,16.65" />
                        </svg>
                        <input type="text" class="beneficiarySearchInput" data-target="#randomBeneficiariesList" placeholder="Rechercher un bénéficiaire...">
                    </label>
                </div>
            </div>

            <div class="beneficiary-list-block" id="randomBeneficiariesList">
                {% include 'beneficiary/partials/_beneficiary_list.html.twig' with { beneficiaries: randomBeneficiaries } %}
            </div>
        </div>

        <hr>

        <div class="beneficiaries-block">
            <h3>Personnes non stockées</h3>

            <div>
                <form id="generateBeneficiary">
                    <button type="submit">Générer un bénéficiaire</button>
                </form>
            </div>

            <div class="beneficiary-search-block">
                <div>
                    <label class="search-bar">
                        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10,2A8,8 0 1,0 18,10A8,8 0 0,0 10,2M10,4A6,6 0 1,1 4,10A6,6 0 0,1 10,4M22,22L16.65,16.65" />
                        </svg>
                        <input type="text" class="beneficiarySearchInput" data-target="#persistedBeneficiariesList" placeholder="Rechercher un bénéficiaire...">
                    </label>
                </div>
            </div>

            <div class="beneficiary-list-block" id="persistedBeneficiariesList">
                {% include 'beneficiary/partials/_beneficiary_list.html.twig' with { beneficiaries: persistedBeneficiaries } %}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('style/js/beneficiary-search.js') }}"></script>
<script src="{{ asset('style/js/beneficiary-crud.js') }}"></script>
<script src="{{ asset('style/js/beneficiary-list.js') }}"></script>

{% endblock %}